/*  your css code here. If applicable */
body{
	background-color: #cccccc;
}
.player_one{
	background-color:white;
	border:1px solid;
	border-color:black;
	font:black;
}
.player_two{
	background-color:white;
	border:1px solid;
	border-color:black;
	font:black;
}
a{
	text-decoraction: none;
}